{
  "branches": ["main"],
  "repositoryUrl": "https://github.com/cyse7125-fall2022-group07/helm-chart.git",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "semantic-release-helm",
      {
        "chartPath": "./todo-app/",
        "onlyUpdateVersion": true
      }
    ],
    [
      "@semantic-release/git", {
      "assets": [
        {"path": "./todo-app/Chart.yaml"},
        {"path": "./CHANGELOG.md"}
      ]
    }],
    "@semantic-release/github"
  ],
  "release": {
    "verifyConditions": {
      "path": ["@semantic-release/changelog", "@semantic-release/github", "@semantic-release/git"]
    },
    "analyzeCommits": [
      "@semantic-release/commit-analyzer"
    ],
    "generateNotes": [
      "@semantic-release/release-notes-generator", {
        "preset": "angular",
        "writerOpts": {
          "commitsSort": ["header"]
        }
      }
    ],
    "prepare": [
      "semantic-release-helm",
      "@semantic-release/git",
      {
        "path": "@semantic-release/changelog",
        "changelogFile": "CHANGELOG.md"
      }
    ],
    "publish": "@semantic-release/github",
    "success": "@semantic-release/github",
    "fail": "@semantic-release/github"
  }
}