{
  "branches": ["main"],
  "plugins": [
      "@semantic-release/commit-analyzer",
      "@semantic-release/release-notes-generator",
      [
          "semantic-release-helm",
          {
              "chartPath": "./todo-app/"
          }
      ],
      [
          "@semantic-release/exec",
          {
              "publishCmd": "ls"
          }
      ],
      [
          "@semantic-release/git",
          {
              "assets": [
                 {"path": "./todo-app/Chart.yaml"}
              ]
          }
      ],
      [
          "@semantic-release/github",
          {
              "assets": [
                  {"path": "Chart.yaml"}
              ]
          }
      ],
      [
          "semantic-release-helm",
          {
             
              "chartPath": "./todo-app"
          }
      ]
  ]
}