---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "todo-app.name" . }}
  namespace: {{ .Values.namespace }}
  labels:
    app: {{ include "todo-app.name" .}}
spec:
  replicas: {{ .Values.replicaCount }}
  progressDeadlineSeconds: 120
  minReadySeconds: 30
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: {{ include "todo-app.name" .}}
  template:
    metadata:
      labels:
        app: {{ include "todo-app.name" .}}
    spec:
      imagePullSecrets:
      - name: {{ .Values.imagePullSecrets }}
      containers:
        - name: {{ .Chart.Name }}
          image: {{ .Values.image.repository }}
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          env:
            - name: NODE_ENV
              valueFrom:
                configMapKeyRef:
                  name: {{ include "todo-app.name" .}}
                  key: NODE_ENV
                  optional: true
            - name: DB_HOST
              valueFrom:
                configMapKeyRef:
                  name: todo-app-config
                  key: DB_HOST
                  optional: true
            - name: DB_NAME
              valueFrom:
                configMapKeyRef:
                  name: todo-app-config
                  key: DB_NAME
                  optional: true
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: todo-app-secret
                  key: DB_PASSWORD
                  optional: true
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: todo-app-secret
                  key: DB_USER
                  optional: true
          envFrom:
            - configMapRef:
                name: todo-app-config
          readinessProbe:
            httpGet:
              path: /healthz
              port: 3000
            initialDelaySeconds: 60
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /healthz
              port: 3000
            initialDelaySeconds: 60
            periodSeconds: 10
          resources:
            requests:
              memory: "100Mi"
              cpu: "500m"
            limits:
              memory: "256Mi"
              cpu: "1000m"
      initContainers:
        - name: db-migration-flyway
          image: csye7125fall2022group07/db-migrate-flyway:v2
          env:
            - name: FLYWAY_URL
              valueFrom:
                configMapKeyRef:
                  name: todo-app-config
                  key: FLYWAY_ENDPOINT
                  optional: true
            - name: FLYWAY_USER
              valueFrom:
                secretKeyRef:
                  name: todo-app-secret
                  key: DB_USER
                  optional: true
            - name: FLYWAY_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: todo-app-secret
                  key: DB_PASSWORD
                  optional: true
          args: ["migrate"]